body{
    display: flex;
    flex-direction: column;
}
header img{
    width: 25% ;
}
.g{
    font-size: 40px;
   text-align: center;
}
.t h1{
    font-size: 50px;
    color: #79B51C;
}
table{
    width: 100%;
    
    height: 50px;
}
table, td, th {
    border: 1px solid;
    
    padding: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.table-i-c{
    margin-bottom: 40px;
}
.table-i-c td {
    border: none;
}
.table-i-e{
    margin-bottom: 50px;
}
.table-i-e td{
    border: none;
}
.table-p{
    text-align: center;
}
.t{
    border: none;
}
.color-bl{
    background-color:#c0e2ea; ;
}
.p{
    border: none;
}
.avant-d{
    background-color: #8f8a8a;
}
.avant-d td{
    padding: 15px;
}
.color-y{
    background-color:#FFA500;
}
.color-red{
    background-color: red;
}
